/* CUSTOM VARIABLES */
* {
    --color-prim: #306057;
    --color-prim-alt: #113830;

    --color-sec: #303960;
    --color-sec-alt: #202950;

    --color-light: #efefef;
    --color-dark: #000001;
    --color-grey: #afafaf;

    --color-important: #ff0700;
    --color-highlight: #a8df65;

    --color-message: #306057;
    --color-message-alt: #303960;

    --color-good: #0b88a4;
    --color-bad: #e30000;
    --color-detective: #7020bc;



    --font-main: 'Julius Sans One', sans-serif;

    --font-header: 'Wendy One', sans-serif;
    --font-subheader: 'Julius Sans One', sans-serif;

    --font-announcement: 'Acme', sans-serif;

    --font-card-title: 'Aclonica', sans-serif;
    --font-card-description: 'Julius Sans One', sans-serif;

    --font-counter: 'Chelsea Market', sans-serif;



    --bg: var(--color-sec);
    --title-color: var(--color-light);

    --player-text: var(--color-dark);

    --card-text: var(--color-dark);
    --card-hover-glow: var(--color-highlight);

    --dead-fg: var(--color-light);
    --dead-bg: var(--color-dark);

    --countdown: var(--color-important);

    --announcement-border: var(--color-sec-alt);
    --announcement-bg: var(--color-sec);
    --announcement-header: var(--color-light);
    --announcement-body: var(--color-light);

    --page-bg: var(--color-sec);
    --page-border: var(--color-sec-alt);
    --page-bg-dim: #0e091b;
    --page-header: #aaa4b9;
    --page-body: #8a8499;

    --messages-bg: var(--color-grey);
    --message-bg: var(--color-message);
    --message-bg-alt: var(--color-message-alt);
    --message-sender: var(--color-light);
    --message-content: var(--color-light);

    --button: var(--color-prim);
    --button-hover: var(--color-prim-alt);
    --button-click: var(--color-dark);
    --button-inactive: #00000022;

    --button-border: var(--color-prim-alt);
    --button-hover-border: var(--color-dark);
    --button-click-border: var(--color-dark);
    --button-inactive-border: #00000000;

    --button-text: var(--color-dark);
    --button-hover-text: var(--color-dark);
    --button-click-text: var(--color-light);
    --button-inactive-text: #00000000;
}
/* CUSTOM VARIABLES END */

/* BASE */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    line-height: 1;
}

b {
    font-weight: bold;
}
/* BASE END */



/* GENERAL */
body {
    background-color: var(--bg);
}
/* GENERAL END */



/* TEXT EFFECTS */
.good {
    color: var(--color-good);
}
.bad {
    color: var(--color-bad);
}
.detective {
    color: var(--color-detective);
}
/* TEXT EFFECTS END */



/* BUTTONS */
.button {
    position: absolute;

    font-family: var(--font-main);
    vertical-align: middle;

    border: 0.2vw solid var(--button-border);
    border-radius: 0.5vw;

    color: var(--button-text);
    background-color: var(--button);

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.button:not(.inactive):hover {
    border-color: var(--button-hover-border);
    color: var(--button-hover-text);
    background-color: var(--button-hover);
}
.button:not(.inactive):active {
    border-color: var(--button-click-border);
    color: var(--button-click-text);
    background-color: var(--button-click);
}
.button.inactive {
    border-color: var(--button-inactive-border);
    color: var(--button-inactive-text);
    background-color: var(--button-inactive);
}

.button > span {
    position: absolute;
    margin: 0;

    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    text-align: center;
}
/* BUTTONS END */



/* CARDS */
.card {
    position: fixed;
    transform: translate(-50%, 50%);

    width: 10vw;

    font-size: 0.8vw;
    color: var(--card-text);

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.card .title-box {
    display: table;
    position: absolute;
    margin: 0 auto;

    top: 0;
    left: 0;
    right: 0;

    width: 90%;

    font-family: var(--font-card-title);
    text-align: center;
}
.card .title-box h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
}
.card .title-box img {
    display: table-row;
    width: 100%;
}

.card .text-box {
    position: absolute;
    margin: 0 auto;

    bottom: 2.5%;
    left: 5%;
    right: 5%;

    width: 90%;

    font-family: var(--font-card-description);
    text-align: center;
}
.card .text-box > span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
}
.card .text-box img {
    width: 100%;
}

.card .bg {
    display: block;
    width: 100%;
}
.card .bg-art {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
}

#hand .card {
    transition: left 0.1s, bottom 0.1s, width 0.1s, padding-top 0.1s, border-radius 0.1s, transform 0.1s;
}
#hand .card:hover {
    border-radius: 1.56em;
    box-shadow: 0 0 20px var(--card-hover-glow);
}
#hand .card .title-box {
    transition: font-size 0.1s;
}
#hand .card .text-box {
    transition: font-size 0.1s;
}
/* CARDS END */



/* PLAYER ICONS */
#players {
    display: none;
    margin: 0;
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 400px);

    width: 800px;
    height: 800px;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/circle.png");
}

#players .player {
    position: fixed;

    width: 10em;
    height: 10em;

    transform: translate(-50%, 50%);
}
#players .player:hover .background {
    box-shadow: 0 0 20px var(--card-hover-glow);
}

#players .player .background {
    top: 0;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    height: 90%;

    border-radius: 90px;
    background-color: white;
}
#players .player .background .icon {
    width: 90%;
    height: 90%;

    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 90px;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/iconUnknown.png");
}

#players .player .tag {
    position: relative;
    bottom: 20%;
    margin: auto;

    max-height: 36%;
    overflow-y: hidden;

    width: 95%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    color: var(--player-text);
    font-family: var(--font-main);
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: white;
}

#players .player.inactive {
    opacity: 0.5;
}

#players .player.traitor .background {
    background-color: var(--color-bad);
}

#players .player.detective .background {
    background-color: var(--color-detective);
}

#players .player.dead .tag {
    color: var(--dead-fg);
    background-color: var(--dead-bg);
}



#player-count {
    position: fixed;

}
/* PLAYER ICONS END */



/* HAND */
#hand {
    position: absolute;
    bottom: 0;
    left: 50%;

    z-index: 100;
}

#no-target {
    position: absolute;

    left: 8vw;
    top: 50%;
    transform: translateY(-50%);

    width: 10vw;
    height: 5vw;

    font-size: 1.5vw;
}
/* HAND END */



/* ANNOUNCEMENTS */
#announcements {
    width: 100%;
    height: 100%;
}



#javascript-disabled {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    height: 10vw;

    border-radius: 1vw;
    background-color: var(--announcement-border);

    z-index: 100000;
}

#already-connected {
    display: none;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    height: 11vw;

    border-radius: 1vw;
    background-color: var(--announcement-border);

    z-index: 100000;
}

#killed {
    display: none;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    height: 32vw;

    border-radius: 1vw;
    background-color: var(--announcement-border);

    z-index: 100000;
}
#killed img {
    width: 40%;
}

.box {
    margin: 1vw;
    height: calc(100% - 3vw);

    padding-top: 1vw;
    text-align: center;

    border-radius: 0.8vw;
    background-color: var(--announcement-bg);
}
.box h6 {
    margin-bottom: 2vw;

    font-family: var(--font-header);
    font-size: 3vw;
    color: var(--announcement-header);
}
.box p {
    font-family: var(--font-main);
    font-size: 1vw;
    color: var(--announcement-body);
}
.box p:not(:first-child) {
    margin-top: 0.9vw;
}



#announcements #turn-counter {
    display: none;
    position: fixed;

    top: 10em;
    left: 50%;
    transform: translateX(-50%);

    width: 80em;
    height: 15em;

    z-index: 50000;
}
#announcements #turn-counter p {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    width: 100%;

    font-family: var(--font-announcement);
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#announcements #turn-counter img {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
}
/* ANNOUNCEMENTS END */



/* PLAYER INFO */
#player-info {
    position: fixed;

    left: 1vw;
    bottom: 1vw;

    width: 10vw;

    font-family: var(--font-main);
    font-size: 1vw;
    color: var(--announcement-body);

    overflow-y: auto;

    z-index: 2000;
}

#player-name {
    position: relative;
    margin: auto;

    height: 36%;
    width: 100%;
    overflow-y: hidden;

    width: 95%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    color: var(--player-text);
    font-family: var(--font-main);
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: white;
}

#player-faction {
    display: none;
    position: relative;
    margin: auto;

    width: 100%;
}
/* PLAYER INFO END */



/* PAGES */
#open-rules {
    position: absolute;

    top: 0.5vw;
    left: 1vw;

    width: 11vw;
    height: 2vw;

    font-size: 1.4vw;
}

#open-card-dex {
    position: absolute;

    top: 0.5vw;
    left: 13vw;

    width: 5vw;
    height: 2vw;

    font-size: 1.4vw;
}

.page {
    display: none;
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: black;

    z-index: 1000000;
}
.page .window {
    position: absolute;
    top: 2vh;
    right: 4vw;
    bottom: 4vh;
    left: 4vw;

    padding: 1vw;

    overflow-y: auto;

    border: 1vw solid var(--page-border);
    border-radius: 1vw;
    background-color: var(--page-bg);
}
.page .window h5 {
    font-family: var(--font-header);
    font-size: 3vw;
    color: var(--page-header);
    text-align: center;
}
.page .window h6 {
    font-family: var(--font-subheader);
    font-size: 2vw;
    font-weight: bold;
    color: var(--page-header);
}
.page .window p, .page .window li {
    margin-top: 1vw;

    font-family: var(--font-main);
    font-size: 1vw;
    color: var(--page-body);
}
.page .window li {
    margin-left: 2em;
}

.page .button {
    position: sticky;

    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);

    width: 12vw;
    height: 3vw;

    font-size: 1.5vw;
}

#card-dex .card-list {
    margin-top: 1vw;
    margin-bottom: 4vw;

    padding: 1vw 0;

    border-radius: 0.5vw;
    background-color: var(--page-bg-dim);
}

#card-dex .card {
    display: inline-block;
    position: static;

    margin-left: 2vw;

    transform: translate(0, 0);
}

#rules img {
    margin: 2vw;
    border: 0.1vw solid black;
}

#rules img.large {
    width: 36vw;
}
#rules img.big {
    width: 30vw;
}
#rules img.medium {
    width: 20vw;
}
#rules img.small {
    width: 14vw;
}

#rules img.left {
    float: left;
}
#rules img.centre {
    display: block;
    margin: auto;
    float: none;
}
#rules img.right {
    float: right;
}
/* PAGES END */



/* COUNTDOWN */
#countdown {
    position: fixed;

    right: 23vw;
    top: 0;
}

#countdown p {
    font-family: var(--font-counter);
    padding-left: 1vw;
    font-size: 5vw;
    color: var(--countdown);
}
/* COUNTDOWN END */



/* MESSAGES */
#messages {
    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;

    width: 18vw;

    padding: 1vw;

    background-color: var(--messages-bg);

    overflow-y: scroll;

    z-index: 2000;
}

.message-group {
    margin-bottom: 1vw;
    padding: 1vw 0.5vw;

    border-radius: 0.5vw;
    background-color: #00000020;

    transition: height 0.1s;
}

#messages .message, #messages .statement {
    display: table;

    margin-bottom: 0.5vw;
    padding: 0.4vw;

    font-family: var(--font-main);
    font-size: 0.9vw;
    line-height: 1.2em;

    max-width: 90%;

    border-radius: 0.8vw;
    background-color: var(--message-bg);
}
#messages .message:nth-child(even), #messages .statement:nth-child(even) {
    background-color: var(--message-bg-alt);
}
#messages .message:first-child, #messages .statement:first-child {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1vw;
    padding-left: 1vw;

    background-color: var(--color-dark);
}
#messages .message:last-child, #messages .statement:last-child {
    margin-bottom: 0;
}
#messages .sender {
    font-weight: bold;
    color: var(--message-sender);
}
#messages .content {
    text-align: right;
    color: var(--message-content);
}
/* MESSAGES END */



/* TITLE */
#title {
    position: absolute;
    width: 90%;
}

#title h1 {
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: black;

    color: var(--title-color);
    font-family: var(--font-header);
    font-size: 3vw;
    font-style: italic;
}
/* TITLE END */



/* JOIN MENU */
#join-menu {
    display: none;
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 32vw;
    height: 24vw;

    border-radius: 1vw;
    background-color: var(--announcement-border);

    z-index: 10000;
}

#join-menu #join-menu-box {
    margin: 1vw;
    height: calc(100% - 2vw);

    text-align: center;

    border-radius: 0.8vw;
    background-color: var(--announcement-bg);
}

#join-menu #join-menu-box img {
    margin-top: 6vw;
    margin-bottom: 1vw;
    width: 40%;
}

#join-menu #join-menu-box form {
}
#join-menu #join-menu-box form input[type="text"] {
    width: 11vw;
    height: 2vw;

    padding: 0 0 0 0.5vw;

    font-size: 1vw;

    border: none;
    border-right: 0.1vw solid black;
    border-top-left-radius: 0.6vw;
    border-bottom-left-radius: 0.6vw;

    transition: width 0.1s;
}
#join-menu #join-menu-box form input[type="text"]:focus {
    width: 14vw;
}
#join-menu #join-menu-box form input[type="submit"] {
    height: 2vw;
    margin: auto;

    font-size: 1vw;
    color: var(--button-text);

    border: none;
    border-top-right-radius: 0.6vw;
    border-bottom-right-radius: 0.6vw;

    background-color: var(--button);
}
#join-menu #join-menu-box form input[type="submit"]:hover {
    color: var(--button-hover-text);
    background-color: var(--button-hover);
}
#join-menu #join-menu-box form input[type="submit"]:active {
    color: var(--button-click-text);

    border-top: 0.1vw solid var(--button);
    border-right: 0.1vw solid var(--button);
    border-bottom: 0.1vw solid var(--button);
    background-color: var(--button-click);
}

input[type="text"].error::placeholder {
    color: red;
    opacity: 1;
}
input[type="text"].error:-ms-input-placeholder {
    color: red;
}
input[type="text"].error::-ms-input-placeholder {
    color: red;
}
/* JOIN MENU END */



/* DIMMER */
#dimmer {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 50%;

    z-index: 5000;
}
/* DIMMER END */
